<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Activation Code</title>

    <style>
        body {

            color: #000000;

            font-family: Arial, sans-serif;

            margin: 0;

            padding: 20px;

            text-align: left;

        }

        h2 {

            color: #0a0909;

        }

        a {

            color: #000000;

            text-decoration: underline;

        }

        ol,
        p {

            color: #000000;

            margin-bottom: 20px;

        }

        strong {

            color: #000000;

        }
    </style>

</head>

<body>

    <h2>Welcome to E-Learning Site!</h2>

    <p>

        We’re excited to have you on board. To complete your registration, please follow the steps below:

    </p>

    <ol>

        <li>Please use the link to accept the invitation </li>

        <li>Enter Your Activation Code:</li>

        <p>Your unique code is: <strong>
            <a href="<%= link %>" target="_blank"></a>
            </strong></p>

        <li>Complete Registration:</li>

        <p>Follow the on-screen instructions to finish setting up your account.</p>

    </ol>

    <p>

        If you have any questions or encounter issues, please contact our support team at <a href="mailto:[Your Support
            Email]">[Your Support Email]</a> or visit our <a href="https://toplifters.vercel.app">Help Center</a>.

    </p>

    <p>

        Thank you for choosing [Your Platform/Service Name]. We look forward to providing you with a great experience!

    </p>

    <p>Best regards,<br>E-Learning <br></p>

</body>

</html>